version: '3.8'

services:
  api:
    build: ./services/api
    ports:
      - "8000:8000"
    environment:
      - SHARED_DIR=/data
      - DOWN_SCALE_URL=http://worker_downscale:8081/process
      - TRANSCRIBE_URL=http://worker_transcribe:8082/process
      - SUBTITLES_URL=http://worker_subtitles:8083/process
      - ANIMALS_URL=http://worker_animals:8084/process
      - AWS_REGION=${AWS_REGION}
      - S3_BUCKET=${S3_BUCKET}
      - DYNAMO_TABLE=${DYNAMO_TABLE}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    volumes:
      - ./data:/data
    depends_on:
      - worker_downscale
      - worker_transcribe
      - worker_subtitles
      - worker_animals

  worker_downscale:
    build: ./services/worker_downscale
    environment:
      - SHARED_DIR=/data
    volumes:
      - ./data:/data

  worker_transcribe:
    build: ./services/worker_transcribe
    environment:
      - SHARED_DIR=/data
    volumes:
      - ./data:/data

  worker_subtitles:
    build: ./services/worker_subtitles
    environment:
      - SHARED_DIR=/data
    volumes:
      - ./data:/data

  worker_animals:
    build: ./services/worker_animals
    environment:
      - SHARED_DIR=/data
    volumes:
      - ./data:/data
